@page "/"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize]


@if(News == null)
{
    <div class="alert alert-info">Loading news...</div>
}
else
{
    <div class="container">
        <div class="news-group-title">
            <i class="bi bi-phone"></i>
            <h4><strong>SMARTPHONE ARTICLE</strong></h4>
        </div>
        <div class="news-group">
            @foreach (var news in News)
            {
                if (news.CategoryId is 1)
                {
                    <div class="news-card">
                        <div class="image">
                            <img src="@news.Image" alt="Image of news article" />
                        </div>
                        <div class="body">
                            <div class="title">
                                <strong><a href="/news/view/@news.Id">@news.Title</a></strong>
                            </div>
                            <div class="desc">
                                <p>
                                    <a href="/news/view/@news.Id">@news.Description </a>
                                </p>
                            </div>

                        </div>
                    </div>
                }

            }
        </div>
    </div>
    <div class="container">
        <div class="news-group-title">
            <i class="bi bi-laptop"></i>
            <h4><strong>LAPTOP ARTICLE</strong></h4>
        </div>
        <div class="news-group">
            @foreach (var news in News)
            {
                if (news.CategoryId == 2)
                {
                    <div class="news-card">
                        <div class="image">
                        <img src="@news.Image" alt="Image of news article" />
                    </div>
                    <div class="body">
                        <div class="title">
                            <strong><a href="/news/@news.Id">@news.Title</a></strong>
                        </div>
                        <div class="desc">
                            <p>
                                <a href="/news/@news.Id">@news.Description </a>
                            </p>
                        </div>

                    </div>
                    </div>
                }
            }
        </div>
    </div>
}




@code{
    private List<News>? News;

    protected async override Task OnInitializedAsync(){
        News = await _client.GetFromJsonAsync<List<News>>($"{Endpoints.NewsEndpoint}");
    }
}




