@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<fieldset disabled="@Disabled">
		<div class="form-group">
			<label>Category Name:</label>
			<div>
				<InputText @bind-Value="@category.Name" class="form-control" />
				<ValidationMessage For="@(() => category.Name)" />
			</div>
		</div>
	</fieldset>

	@if (!Disabled)
	{
		<button type="submit" class="btn btn-primary" >
			@ButtonText
		</button>
	}
	<BackToList Target="category" />
</EditForm>

@code {
	[Parameter] public bool Disabled { get; set; }
	[Parameter] public Category? category { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}

