@inject HttpClient _client

<EditForm Model="@brand" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<fieldset disabled="@Disabled">
		<div class="form-group">
			<label>Brand Name:</label>
			<div>
				<InputText @bind-Value="@brand.Name" class="form-control" />
				<ValidationMessage For="@(() => brand.Name)" />
			</div>
		</div>
	</fieldset>

	@if (!Disabled)
	{
		<button type="submit" class="btn btn-primary">
			@ButtonText
		</button>
	}
	<BackToList Target="brand" />
</EditForm>

@code {
	[Parameter] public bool Disabled { get; set; }
	[Parameter] public Brand? brand { get; set; }
	[Parameter] public string ButtonText { get; set; } = "Save";
	[Parameter] public EventCallback OnValidSubmit { get; set; }

}
